.loader {
    position: fixed;
    left:calc(50% - 4em);
    top:calc(45% - 4em);
    width: 4em;
    height:4em;
    padding: 100px;
    z-index: 999999999;
    opacity:0.9;
    /* background-color: brown; */
    /*border: 0.8em solid rgba(67, 111, 255, 0.233);*/
    border: 10px solid blueviolet;
    border-left: 10px solid #ffe81d;
    border-radius: 50%;
    animation: load8 1.01s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }